@{
    ViewBag.Title = "About";
}
<div class="wrapper bgded overlay" style="background-image:url(/Content/Images/taylor-durrer-114005.jpg); height:100px"></div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content">
            <h1 id="title" style="font-size: 40px">We're Anything But Imaginary...</h1>
            <img class="imgr borderedbox inspace-5" src="~/Content/Images/84875.jpg" style="width:auto; height:auto; max-height:150px; max-width:150px" />
            <p>When asked about the Imaginary Cage, the same questions always arise.  How does a place like this exist?  Are there really people out there with mythical creatures for pets? Do we live in Harry Potter's universe? Unfortunately, we can't say yes to all of those questions, but we want to bring a sanctuary to beasts of all mystical, mythical, fantastical, and just outright unknown to common eyes. </p>

            <p>We use magic to bring forth portals to safely transport your wondrous friends to beautiful havens where they can run, feed, and be themselves outside of the public eye.  We have made it easy for anyone in the area to come to one of our <a href="~/Views/ResortLocations/Index.cshtml">Resort Locations</a>to check us out.  We make sure to bring safe, affordable, and accessible support when it comes to you and your magical friend.</p>
            <hr />
            <img class="imgl borderedbox inspace-5" src="~/Content/Images/kundan-ramisetti-146.jpg" style= "width: auto; height: auto; max-width: 150px; max-height: 150px" />
            <p>Imaginary Cage first started in 1992 when more and more sightings of creatures were popping up.  From the Loch Ness Monster to Bigfoot, people were out searching for these amazing beings and those who housed these animals were having a harder time trying to keep them safe when they couldn't watch them.</p>

            <p>We started this resort not only as a means to keep these unique animals safe and their owners worry-free, but also for those who doubt their existence can have the chance to believe.  In a world where the magic is fading in favor of technology or money, we want to bring imagination to reality in hopes that the magic return.  For those who have an animal different from this world, we invite you to resorts in hopes that you will consider us for your animal's supervision.  For those without one of these creatures, we encourage you to keep the magic alive and find time to learn and understand them.  Thank you for joining us today and keep on believing!</p>
        </div>
    </main>
</div>

<div class="container" id="petsGallery" style="width:1008px; max-width:none;">
    <h2 id="title" style="font-size:3em;">Some of the Beasts We Oversee...</h2>
    <figure class="snip1477">
        <img src="~/Content/Images/Pets/Hydra1.jpg" alt="Hydra" />
        <div class="title">
            <div>
                <h4>Hydra</h4>
                <h2>Greek</h2>
            </div>
        </div>
        <figcaption>
            <p>Multi-Headed Snake-like Monster</p>
        </figcaption>
        <a href="#"></a>
    </figure>
    <figure class="snip1477 hover">
        <img src="~/Content/Images/Pets/cerberus_by_moonxels-damgi0t.jpg" alt="Cerberus" />
        <div class="title">
            <div>
                <h4>Cerberus</h4>
                <h2>Greek</h2>
            </div>
        </div>
        <figcaption>
            <p>Three-Headed Dog </p>
        </figcaption>
        <a href="#"></a>
    </figure>
    <figure class="snip1477">
        <img src="~/Content/Images/Pets/Roc_by_genzoman.jpg" alt="Roc" />
        <div class="title">
            <div>
                <h4>Roc</h4>
                <h2>Middle East</h2>
            </div>
        </div>
        <figcaption>
            <p>Giant Eagle that can carry cattle in one claw</p>
        </figcaption>
        <a href="#"></a>
    </figure>
    <figure class="snip1477">
        <img src="~/Content/Images/Pets/Nightmare-5e.jpg" alt="Nightmare" />
        <div class="title">
            <div>
                <h4>Nightmare</h4>
                <h2>Norse</h2>
            </div>
        </div>
        <figcaption>
            <p>Fire Horse that can cause nightmares</p>
        </figcaption>
        <a href="#"></a>
    </figure>
    <figure class="snip1477">
        <img src="~/Content/Images/Pets/bigkitsune.jpg" alt="Kitsune" />
        <div class="title">
            <div>
                <h4>Kitsune</h4>
                <h2>Japanese</h2>
            </div>
        </div>
        <figcaption>
            <p>Shape-shifting Fox</p>
        </figcaption>
        <a href="#"></a>
    </figure>
    <figure class="snip1477">
        <img src="~/Content/Images/Pets/babydragon.jpg" alt="Dragon" />
        <div class="title">
            <div>
                <h4>Dragon</h4>
                <h2>European</h2>
            </div>
        </div>
        <figcaption>
            <p>Fire-Breathing flying Lizard</p>
        </figcaption>
        <a href="#"></a>
    </figure>
</div>
<div class="container">
    <h1 class="heading-primary" id="title">FAQuestions</h1>
    <div class="accordion" style="font-family:Sanchez, serif">
        <dl>
            <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger" style="font-size:17px">What is considered mythical, mystical, or just fantastic creature?</a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed scrollable" id="accordion" aria-hidden="true" style="font-size:15px">
                <p>We truly believe that all animals are fantastic but as to which animals we will accept into our resorts is determined by several factors.</p>
                <p>1) The animal unfortunately cannot be one that is typically found in a zoo, park, or wildlife sanctuary.  Such animals would be considered "exotic" pets, not mythical.</p>
                <p>2) The animal would have to be involved in some form of legend, with special properties not found in typical animals ie. fire-breathing, shape-shifting, extra heads. Animals that have the appearance of our known world's beasts but have special properties (for example, nightmares which are fire-breathing black horses) would be accepted only after testing and much needed proof(such as published stories or historical texts).</p>
            </dd>
            <dt>
                <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger" style="font-size:17px">
                    Will you accept any regular or exotic, domesticated animals at your resorts?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed scrollable" id="accordion2" aria-hidden="true" style="font-size:15px">
                <p>Unfortunately, no.  As much as we would love to take care of animals of all kinds, we do not want to take business away from those who do this kind of work regularly.  We thought it would be in the best interests of our customers and other pet owners to just focus on the mythical.  These types of animals require special care and we would want every animal to have the attention they need.</p>
            </dd>
            <dt>
                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger" style="font-size:17px">
                    Will you accept centaurs, mermaids, minotaurs, vampires, werewolves, or any animals kind of like theses?
                </a>
            </dt>
            <dd class="accordion-content accordionItem is-collapsed scrollable" id="accordion3" aria-hidden="true" style="font-size:15px">
                <p>No, for the most part, these aren't creatures that require our attention.  Most of these are considered to have human-like intelligence and can sustain themselves on their own.  If anyone has any of these creatures, just be warned that this could be seen as imprisonment or slavery and we recommend you releasing them safely.  We have come across the occasional incident where someone tries to drop off their little brother, grandma, or step-child.  We have to tell you that we do not accept ANY HUMANS! We can accept humanoids(beasts with human appearance or features but do not function as a human ie. Yeti, Sasquatch) but nothing that is or had an origin of human.</p>
            </dd>
        </dl>
    </div>
</div>

@section scripts{
<script src="~/Scripts/Template Scripts/gallery.js"></script>
}