@{
    ViewBag.Title = "Home";
}
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo">
            <h1 id="title">
                <a>Imaginary Cage</a>
            </h1>
            <p style="font-family:Sanchez, serif">Mythical Pet Resort</p>
        </div>
    </header>
</div>


    <div class="wrapper bgded overlay" style="background-image:url('/Content/Images/garrett-parker-247225.jpg')">
        <div id="pageintro" class="hoc clear">
            <article class="introtxt">
                <h2 class="heading" id="title">A Safe Space for Fantastic Beasts</h2>
                <p style="font-family:Sanchez, serif">We offer a haven for pets from all walks of life and legend!</p>
                <footer>
                @Html.ActionLink(" Login Here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn inverse medium" })
                    @Html.ActionLink("Enroll Here", "Create", "Pets", routeValues: null, htmlAttributes: new { @class = "btn inverse medium" })
                @*@Html.ActionLink("Enroll Here", "Create", "Pets", htmlAttributes: new { @class = "btn inverse medium" });*@
                </footer>
            </article>
        </div>
    </div>

<div id="container">
    <div class="slide anim-in">
        <div class="image" style="background-image: url(/Content/Images/taylor-durrer-114005.jpg);"></div>
        <div class="content">
            <h1 class="title" data-title="Imaginary Cage">Imaginary Cage</h1>
            <ul class="city-info">
                <li class="country">Hannibal, MO</li>
                <li class="founded">Founded: 1992</li>
                <li class="population">Reservation Limit Per Day: 15</li>
            </ul>
        </div>
        <div class="btn-close"></div>
    </div>
    <div class="slide anim-in">
        <div class="image" style="background-image: url(/Content/Images/hugues-de-buyer-mimeure-335733.jpg);"></div>
        <div class="content">
            <h1 class="title" data-title="Mystic Fence">Mystic Fence</h1>
            <ul class="city-info">
                <li class="country">St. Charles, MO</li>
                <li class="founded">Founded: 1995</li>
                <li class="population">Reservation Limit Per Day: 12</li>
            </ul>
        </div>
        <div class="btn-close"></div>
    </div>
    <div class="slide anim-in">
        <div class="image" style="background-image: url(/Content/Images/nathan-anderson-273668.jpg);"></div>
        <div class="content">
            <h1 class="title" data-title="Fantastic Beast Kennel" style="height:100px">Fantastic Beast Kennel</h1>
            <ul class="city-info">
                <li class="country">Greenville, IL</li>
                <li class="founded">Founded: 1999</li>
                <li class="population">Reservation Limit Per Day: 14</li>
            </ul>
        </div>
        <div class="btn-close"></div>
    </div>
    <div class="slide anim-in">
        <div class="image" style="background-image: url(/Content/Images/46914.jpg);"></div>
        <div class="content">
            <h1 class="title" data-title="Fairy Dust Ranch" style="height:100px">Fairy Dust Ranch</h1>
            <ul class="city-info">
                <li class="country">Columbia, MO</li>
                <li class="founded">Founded: 2004</li>
                <li class="population">Reservation Limit Per Day: 20</li>
            </ul>
        </div>
        <div class="btn-close"></div>
    </div>
</div>